<app-navbar></app-navbar>
<main class="main">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <div class="field">
      <label class="label">
        Email
        <input class="input" type="email" placeholder="exemplo@email.com" formControlName="email">
      </label>
    </div>
    <div>
      <label>
        Senha
        <input type="password" placeholder="Digite sua senha aqui" formControlName="password">
      </label>
    </div>
    <div>
      <button type="submit">Entrar</button>
    </div>
  </form>

</main>
<app-footer></app-footer>