<main class="container">
<h1>Bem vindo(a) a Calculadora de Preço Teto de Ações!</h1>
<h2>Você sabe dizer se uma ação esta sendo negociada cara ou barata hoje na bolsa de valores?</h2>
<p>
  O cálculo do preço teto de uma boa ação pagadora de dividendos na bolsa de valores se baseia nos 
  dividentos distribuídos nos últimos 5 anos e é uma maneira incrível de
  saber se determinada ação esta cara ou barata. Ou seja, se ela oferece uma margem de segurança e um bom potencial de rendimentos anuais
  para quem a adquirir no valor em que esta sendo negociada hoje.
</p>
<p>
  Além disso, com o preço teto é possível determinar quantitativamente qual é a expectativa de valorização da ação.
</p>
<p>
  Basta comprar a baixo, esperar ela atingir o preço teto e ver seu investimento inicial crescer!
</p>
<h3>O que esta esperando para calcular o preço teto de algumas ações?</h3>
<div class="btn-container">
<button routerLink="/signup"><span>Não é Cadastrado? Cadastre-se agora.</span></button>
<button routerLink="/login"><span>Ja é Cadastrado? Faça login agora.</span></button>
</div>
</main>