.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #402039;

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 500px;
    height: 50px;

    .logo{
      font-size: 26px;
      color: white;
      font-family: 'Roboto Mono', monospace;

    &:hover{
      color:yellow;
      cursor: pointer;
      
      }
    }
  }


  .menu-container{
    
    margin-right:100px;

    .menu{
      margin-right: 100px;
      display: flex;
      list-style: none;
      justify-content: space-between;
      width: 300px;
      color:white;
      font-family: 'Roboto Mono', monospace;

      .menu-item:hover{
        cursor:pointer;
        color: yellow;
      }

    }
  }
}